<h1>Welcome to the home page of The Gossip Project !</h1>
</br>
<p>Want to know more about the team ? Click
<a href="/team">here</a>
</p>
<p>Want to contact the team ? Click
<a href="/contact">here</a>
to get their info</p>
<h2>Want to create a new gossip?</h2>
  <a href="/gossip/new">Create a gossip</a>

<h1>All Gossips are here!</h1>

<!-- DEBUT CARD HEARDER -->
<div class="row">
<% @gossip.each_with_index do | gossip , index| %>
  <div class="col-md-4">

    <div class="card-deck mb-3 text-center">

      <div class="card card-accent-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Gossip
          <%=index + 1 %></div>
        <div class="card-body">
          <p>
            Son auteur : **
            <%= gossip.user.first_name %>
            <%= %>
            **<br/>
            Le titre du potin : **
            <%= gossip.title %>
            **<br/>
          </p>
          <button type="button" class="btn btn-pill btn-secondary">
            <a href="/gossip/<%=index +1 %>">Lien vers ce gossip</a>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

</div>
<!-- FIN CARD HEADER -->
